CI_ENVIRONMENT = development

app.baseURL = 'http://127.0.0.1:8080/'
app.forceGlobalSecureRequests = false

database.default.hostname = 127.0.0.1
database.default.database = faculty_ledger
database.default.username = root
database.default.password =
database.default.DBDriver = MySQLi
database.default.DBPrefix =
database.default.port = 3306
